@font-face {
  font-family: "ranchoregular";
  src: url("Rancho/Rancho-Regular-webfont.eot");
  src: url("Rancho/Rancho-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Rancho/Rancho-Regular-webfont.woff2") format("woff2"),
    url("Rancho/Rancho-Regular-webfont.woff") format("woff"),
    url("Rancho/Rancho-Regular-webfont.ttf") format("truetype"),
    url("Rancho/Rancho-Regular-webfont.svg#ranchoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url("raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* CSS pour le header */

header {
  margin: 0 15px 0 15px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #0065fc;
}

.heb {
  border-top: #0065fc solid 2px;
  padding: 30px 15px 0 15px;
}

.act {
  color: black;
  border-top: transparent solid 2px;
  padding: 30px 15px 0 15px;
}

.ins {
  border-top: transparent solid 2px;
  padding: 30px 0px 0 15px;
}

h1 {
  font-family: "ranchoregular", Arial, sans-serif;
  font-size: 4em;
  color: #0065fc;
  margin: 0;
  flex-grow: 2;
}

.form {
  display: flex;
  justify-content: left;
  align-items: center;
}

input {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 200px;
  height: 34px;
  border-top: solid #f2f2f2;
  border-bottom: solid #f2f2f2;
  border-left: none;
  border-right: none;
  font-weight: bold;
  font-family: "raleway";
  padding-left: 10px;
}

#map {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-style: none;
  width: 130px;
  height: 40px;
  background-color: #0065fc;
  color: white;
  font-family: "raleway", Arial, sans-serif;
  font-weight: bold;
}

.filtres {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  padding-top: 15px;
}

.filtres ul,
.filtres li,
.filtres i {
  display: flex;
  flex-direction: row;
}

.filtres li {
  margin-right: 20px;
}

.filtres li:hover {
  color: #0065fc;
  background-color: #deebff;
  border-color: #deebff;
}

.filtres span {
  padding: 5px;
}

.filtres i {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border-style: solid;
  background-color: #deebff;
  border-color: #deebff;
  justify-content: center;
  align-items: center;
}

.eco,
.rom,
.fam,
.ani {
  height: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #f2f2f2;
  border-left: none;
  justify-content: center;
  align-items: center;
}

.info,
#cercle {
  display: flex;
  align-items: center;
}

#cercle i {
  color: #0065fc;
}

.info p {
  margin-bottom: 22px;
  padding-left: 10px;
}

#cercle {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  border-style: solid;
  color: #f2f2f2;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
/* Fin du CSS pour le header */

body {
  font-family: "raleway", Arial, sans-serif;
  font-size: 0.8em;
}

span {
  font-weight: bold;
}

li {
  list-style-type: none;
}

h3 {
  font-size: 1.1em;
}

.element1 a {
  color: black;
  text-decoration: none;
}

.element1,
.element2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* CSS pour les sections */
main {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.element1,
.element2,
.element3,
header {
  padding-left: 10px;
  padding-right: 10px;
}

.element1 i,
.element2 i,
.filtres i {
  color: #0065fc;
}

.element1 {
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  box-sizing: border-box;
}

.element1 h2 {
  width: 100%;
  padding-bottom: 10px;
}

.cannebiere,
.port,
.mouettes,
.mer,
.panier,
.amina {
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px 10px 5px;
  margin: 5px 0 20px 0;
  width: 30%;
  box-shadow: 0px 0px 15px grey;
  justify-content: space-around;
}

a[href*="#hm"] {
  text-decoration: none;
  color: black;
  width: auto;
}

.element1 img,
.element1 figure {
  width: 100%;
  height: 120px;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: 0;
  background-position: center;
}

.cannebiere figure {
  background-image: url(images/Cannebiere.jpg);
  margin-bottom: 10px;
}

.port figure {
  background-image: url(images/port.jpg);
  margin-bottom: 10px;
}

.mouettes figure {
  background-image: url(images/mouettes.jpg);
  margin-bottom: 10px;
}

.mer figure {
  background-image: url(images/mer.jpg);
  margin-bottom: 10px;
}

.panier figure {
  background-image: url(images/panier.jpg);
  margin-bottom: 10px;
}

.amina figure {
  background-image: url(images/amina.jpg);
  margin-bottom: 10px;
}

.element1 h3,
.element1 p {
  margin: 5px 0 5px 10px;
}

#cannebiere,
#mouettes,
#mer1,
#mer2,
#panier,
#eau,
#bleu_blanc {
  color: #f2f2f2;
}

.element2 {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 25%;
  margin-left: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.element2 h2 {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
}

#pop {
  color: black;
}

.element2 a {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  margin: auto;
  width: 85%;
  box-shadow: 0px 0px 15px grey;
  height: 120px;
  text-decoration: none;
  color: black;
}

.element2 figcaption {
  margin-left: 10px;
}

figcaption h3,
figcaption p {
  margin: 5px 0 5px;
}

figcaption i {
  padding-top: 20px;
  padding-bottom: 5px;
}

.element2 img,
.element2 figure {
  width: 35%;
  min-width: 35%;
  height: 100%;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin: 0;
  background-position: center;
}

.soleil figure {
  background-image: url(images/soleil.jpg);
}

.eau figure {
  background-image: url(images/eau.jpg);
}

.bleu_blanc figure {
  background-image: url(images/bleu_blanc.jpg);
}

.element3 {
  width: 100%;
}

.element3 h2 {
  width: 100%;
  justify-content: start;
  padding: 10px 0 5px 0;
}

.element3 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-between;
}

.element3 a {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 15px grey;
  width: 23%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.element3 h3 {
  margin-left: 10px;
}

.element3 img,
.element3 figure {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-position: center;
  margin: auto;
  flex-grow: 2;
}

.vieux_port figure {
  background-image: url(images/vieux_port.jpg);
}

.fort figure {
  background-image: url(images/fort.jpg);
}

.frioul figure {
  background-image: url(images/frioul.jpg);
}

.calanques figure {
  background-image: url(images/calanques.jpg);
}

.notre_dame figure {
  background-image: url(images/notre_dame.jpg);
}

.longchamp figure {
  background-image: url(images/longchamp.jpg);
}

.vieux_port {
  height: 100%;
}

.fort {
  height: 55%;
}

.frioul {
  height: 35%;
}

.calanques {
  height: 100%;
}

.notre_dame {
  height: 50%;
}

.longchamp {
  height: 40%;
}

/* CSS pour le footer */
footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}

footer h3 {
  padding-left: 40px;
  padding-top: 10px;
}

footer li {
  padding-bottom: 10px;
}

footer li a {
  text-decoration: none;
  color: black;
}

.hébergements,
.assistance {
  padding-left: 100px;
}

@media screen and (max-width: 1024px) {
  header {
    margin: auto;
    width: auto;
  }

  nav a:nth-child(1) {
  order: 1;
  }

  nav a:nth-child(2) {
    order: 3;
    align-self: flex-end;
  }

  nav a:nth-child(3) {
    order: 4;
    align-self: flex-end;
  }

  nav a:nth-child(4) {
    order: 2;

  }

  nav {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .ins {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
  }

  .act {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    border-top: none;
    border-bottom: solid 2px #f2f2f2;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .heb
   {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    border-top: none;
    border-bottom: solid 2px #0065fc;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .filtres {
    flex-wrap: wrap;
  }

  .filtres ul {
    flex-wrap: wrap;
    padding-left: 0;
  }

  .filtres li {
    margin-bottom: 5px;
  }

  body {
    width: auto;
  }

  footer {
    flex-direction: column;
    margin: 0;
  }

  .hébergements,
  .assistance {
    padding-left: 0;
  }

  main {
    flex-direction: column;
    margin: 0;
  }

  .element2 {
    width: auto;
    border-radius: revert;
    margin: auto;
    padding: 0;
  }

  .element2 a {
    margin-bottom: 10px;
  }

  .element1 {
    background-color: white;
    flex-direction: column;
    margin: 0;
    width: auto;
  }

  .element1 h2 {
    margin-left: 0;
  }

  .element1 a {
    width: auto;
  }

  .element3 {
    width: auto;
  }

  .element3 div {
    height: auto;
  }

  .element3 a {
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
  }

  section:nth-child(1) {
    order: 2;
  }

  section:nth-child(2) {
    order: 1;
  }

  section:nth-child(3) {
    order: 3;
  }
}
